<div style="margin:0px">
  <app-farm></app-farm>
  <div class="center">
  <form>
    <fieldset>
      LandName :<input type="text"><br>
      LandLocation :<input type="text"><br>
      LandType :<select><option value="Farm">Farm</option>
                          <option value="Urban">Urban</option>
                  </select><br>
      LandArea :<input type="number" placeholder="In sqft"><br> 
      LandSoilType :<select><option value="Sandy">Sandy</option>
                          <option value="Loomy">Loomy</option>
                          <option value="Black">Black</option>
                          <option value="Heavy">Heavy</option>
                  </select><br>
      <label>LandMap: GoogleMap Pruned</label><br><br>
      <input type="submit" class="button"value="Add Farm">                
    </fieldset>
  </form>
  </div>  
</div>