<div>
  <app-plantation></app-plantation>
  <div class="center">
  <form>
    <fieldset>
      <legend><b>Plantation:</b></legend>
      Plantation Name :<br><input type="text"><br>
      Plantation Type :<br><input type="text"><br>
      Plantation Area :<br><input type="text"><br>
      Plantation Length :<br><input type="text"><br>
      Plantation Breadth :<br><input type="text"><br>
      Seedling Line Spacing :<br><input type="text"><br>
      Seedling Row Spacing :<br><input type="text"><br>
      Plantation Crop :<br><input type="text"><br>
      Seed Rate :<br><input type="text"><br>
      Seedling Numbers :<br><input type="text"><br><br>
      <input type="submit" class="button" value="Add Plantation">

    </fieldset>
  </form>
</div>
  </div>