<div>
  <app-crop></app-crop>
<div class="center">
  <form>
    <fieldset>
    <legend><b>
      Crop:</b>
    </legend>
    CropName<br><input type="text"><br>
    CropType<br><input type="text"><br>
    CropLineSpacing<br><input type="text"><br>
    CropRowSpacing<br><input type="text"><br>
    CropDuration<br><input type="text"><br>
    CropImage<br>
    CropPlantationMonths<br><input type="text"><br>
    CropSeedRate<br><input type="text"><br>
    CropSeedNumbers<br><input type="text"><br><br>
    <input type="submit" class="button"value="Add Crop">
  </fieldset>
  </form>
</div>
</div>
