<div class="outer">
  <div class="inner">
    <div class="flex-container">
      <div><a routerLink="/farm" routerLinkActive="active">Farm</a></div>
      <div><a routerLink="/crop" routerLinkActive="active">Crop</a></div>
      <div><a routerLink="/plantation" routerLinkActive="active">Plantation</a></div>
      <div><a routerLink="/input" routerLinkActive="active">Input</a></div>
      <div><a routerLink="/task" routerLinkActive="active">Tasks</a></div>
      <div><a routerLink="/expense" routerLinkActive="active">Expenses</a></div>
      <div><a routerLink="/register" routerLinkActive="active">Input Schedule</a></div>
    </div>
  </div>
    
</div>
