<div>
    <app-input></app-input>
    <div class="center">
    <form>
      <fieldset>
        <legend><b>Input:</b></legend>
        Input Name :<br><input type="text"><br>
        Input Type :<br><input type="text"><br>
        Input Stage :<br><input type="text"><br>
        Input Unit Cost :<br><input type="text"><br>
        Input Prep Method Desc :<br><input type="text"><br><br>
        <input type="submit" class="button" value="Edit Input">
  
      </fieldset>
    </form>
  </div>
    </div>
