
  <div class="outer">
    <div class="flex-container">
      <div><a routerLink="/user" routerLinkActive="active">My Page</a></div>
      <div><a routerLink="/pricing" routerLinkActive="active">Pricing</a></div>
      <div><a routerLink="/about" routerLinkActive="active">About us</a></div>
      <div><a routerLink="/login" routerLinkActive="active">Login</a></div>
      <div><a routerLink="/register" routerLinkActive="active">Register</a></div>
    </div>
    <div class="im"><img src="assets\images\org.jpg"></div>
    </div>